@font-face {
    font-family: Lulo;
    src: url(/assets/fonts/Lulo-One-Bold.ttf);
    font-display: swap;
}

body, h1, h2, h3, .form-group label {
    font-family: 'Lulo', Arial, sans-serif;
}

.form-group label {
    margin-top: 1em;
}

h3 {
    letter-spacing: -0.10em;
}

a {
    color: rgb(69, 63, 186);
}

.text-shadow {
    color: rgb(19, 13, 76);
    text-shadow: rgba(10, 189, 240, 0.298039) 2px 2px 0, rgba(254, 1, 1, 0.298039) -2px -2px 0;
}

/* make the onload animation longer */
#title-text {
    animation: pulseLoad 1.5s ease-out;
}

#title-text:hover {
    animation: pulseDark 0.5s ease-in-out;
}

/* animations */
@keyframes pulseLoad {
    0% {
        color: rgb(19, 13, 76);
        text-shadow: rgba(10, 189, 240, 0.898039) 4px 0 0, rgba(254, 1, 1, 0.598039) -4px 0 0;
    }
    100% {
        color: #000;
    }
}

@keyframes pulseDark {
    0% {
        color: #000;
    }
    50% {
        color: rgb(19, 13, 76);
        text-shadow: rgba(10, 189, 240, 0.898039) 4px 0 0, rgba(254, 1, 1, 0.598039) -4px 0 0;
    }
    100% {
        color: #000;
    }
}

@keyframes pulseLight {
    0% {
        color: #fff;
    }
    50% {
        color: #ddf;
        text-shadow: rgba(10, 189, 240, 0.898039) 4px 0 0, rgba(254, 1, 1, 0.598039) -4px 0 0;
    }
    100% {
        color: #fff;
    }
}

p {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.2em;
}

.w80 {
    width: 80%;
    align-self: flex-end;
    padding-left: 12px;
}

.w20 {
    width: 20%;
}

.list-header {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
}

.divider-left {
    border-left: 1px solid black;
}

.divider-right {
    border-right: 1px solid black;
    padding-right: 32px;
}

.jumbotron-links-list a {
    margin-bottom: 8px;
}

.inline-icon {
    display: inline;
    height: 2.3em;
}

.inline-icon:hover, .inline-icon:active, .inline-icon:focus {
    filter: brightness(1.2) !important;
}

#top-jumbotron {
    background-image: url("/assets/img/code-background.webp"), url("/assets/img/code-background.png");
    background-size: cover;
}

#inner-jumbotron {
    background-color: #fffd;
}

.no-underline-hover:hover {
    text-decoration: unset;
}

.horizontal-navbar a {
    display: inline-block;
    color: #222;
    font-size: 14px;
}

.active, .active:hover {
    border: none !important;
    text-decoration: underline;
}

.horizontal-navbar .active {
    text-decoration: underline;
}

.navbar-spacer {
    visibility: hidden !important;
}

.class-info h2 {
    margin-top: 48px;
}

input[type=text], input[type=email], input[type=number] {
    font-family: 'Lato', Arial, sans-serif;
}

.form-group {
    font-family: 'Lato', Arial, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 18px;
    vertical-align: top;
}

.class-name {
    font-family: 'Lato', Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: normal;
    margin-top: 2px !important;
}

iframe {
    height: 1000px;
    width: 100%;
}

.teacher-info h4, .teacher-info p {
    width: 100%;
    align-self: center;
}

.teacher-info {
    display: inline-flex !important;
    align-items: center;
}

/* responsiveness */
@media (max-width: 768px) {
    .divider-right {
        border-right: unset;
        padding-right: unset;
    }
    .jumbotron-links-list {
        display: none;
    }
    .hide-for-small {
        display: none;
    }
    #inner-jumbotron {
        /*background-color: #fffb;*/
        background-color: #0000;
        padding-top: 0 !important;
    }
    #inner-jumbotron h1, #inner-jumbotron h5, #inner-jumbotron h6, #inner-jumbotron a {
        color: #fff;
        animation: unset;
    }
    .text-shadow {
        color: #fff;
        text-shadow: rgba(10, 189, 240, 0.298039) 2px 2px 0, rgba(254, 1, 1, 0.298039) -2px -2px 0;
    }
    .inline-icon {
        filter: brightness(0.25) saturate(1.5) brightness(3.5) saturate(1.5);
    }
    .teacher-profile {
        display: block;
    }
    #title-text {
        animation: pulseLoadLight 1.5s ease-out;
    }
    #title-text:hover, #title-text:active, #title-text:focus {
        animation: pulseLight 0.5s ease-in-out;
    }
}

@media (min-width: 768px) {
    .hide-for-big {
        display: none !important;
    }
    .invisible-for-big {
        visibility: hidden !important;
    }

    .nav-link {
        border: 1px solid transparent;
    }

    .nav-link:hover {
        border: 1px solid black;
    }
    .teacher-profile {
        display: inline-flex;
    }
}

/* animation boilerplate */
@keyframes nav-underline {
    0% {
        border-bottom: 1px solid black;
    }
    100% {
        border-bottom: 3px solid red;
    }
}


.underline-animation {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0 ;
}
.underline-animation:before, .underline-animation:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
}
.underline-animation:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:hover:before, .underline-animation:hover:after, .underline-animation:focus:before, .underline-animation:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.underline-animation:hover:before, .underline-animation:focus:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:hover:after, .underline-animation:focus:after {
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* for the mobile navbar */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #000;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: 0;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

/* for radios */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #000;
        --active-inner: #fff;
        --focus: 2px rgba(255, 255, 255, .6);
        --border: #000;
        --border-hover: rgba(0, 0, 0, .6);
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: text-bottom;
        position: relative;
        margin: 0 8px 0 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}

#submit-btn {
  transition: background-color 0.5s;
}

#submit-btn:focus, #submit-btn:active, #submit-btn:hover {
  background-color: lightgrey;
}
