@font-face {
    font-family: Lulo;
    src: url(/assets/fonts/Lulo-One-Bold.ttf);
}

body, h1, h2, h3 {
    font-family: 'Lulo', Arial, sans-serif !important;
}

.text-shadow {
    color: rgb(19, 13, 76);
    text-shadow: rgba(10, 189, 240, 0.298039) 2px 2px 0, rgba(254, 1, 1, 0.298039) -2px -2px 0;
}

#title-text:hover {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        color: #000;
    }
    50% {
        color: rgb(19, 13, 76);
        text-shadow: rgba(10, 189, 240, 0.898039) 4px 0 0, rgba(254, 1, 1, 0.598039) -4px 0 0;
    }
    100% {
        color: 100%;
    }
}

p {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.2em;
}

/* animation boilerplate */
.underline-animation {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0 ;
}
.underline-animation:before, .underline-animation:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
}
.underline-animation:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:hover:before, .underline-animation:hover:after, .underline-animation:focus:before, .underline-animation:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.underline-animation:hover:before, .underline-animation:focus:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.underline-animation:hover:after, .underline-animation:focus:after {
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}